<div class="stats-container">

    <div class="card total">

        <div class="icon">
            📋
        </div>

        <div class="content">

            <h2>{{total}}</h2>

            <p>Total Tasks</p>

        </div>

    </div>

    <div class="card pending">

        <div class="icon">
            ⏳
        </div>

        <div class="content">

            <h2>{{pending}}</h2>

            <p>Pending</p>

        </div>

    </div>

    <div class="card progress">

        <div class="icon">
            🚀
        </div>

        <div class="content">

            <h2>{{inProgress}}</h2>

            <p>In Progress</p>

        </div>

    </div>

    <div class="card completed">

        <div class="icon">
            ✅
        </div>

        <div class="content">

            <h2>{{completed}}</h2>

            <p>Completed</p>

        </div>

    </div>

</div>